@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
}

@layer base {
  p,
  li,
  td,
  th,
  code {
    @apply text-zinc-700 font-light text-base leading-7;
  }

  code {
    @apply text-sm;
  }

  h1 {
    @apply text-black font-medium text-xl;
  }

  h2 {
    @apply text-black font-medium text-xl;
  }

  h3 {
    @apply text-black font-medium text-lg;
  }

  h4 {
    @apply text-black font-medium text-base;
  }

  a,
  a > h2,
  a > h3,
  a > h4,
  a > span {
    @apply text-black font-normal hover:underline underline-offset-4 decoration-2 decoration-zinc-800;
  }

  a:has(h1),
  a[href^="#"] {
    @apply no-underline text-zinc-400 hover:text-black outline-none !important;
  }
}

.math-display {
  @apply overflow-scroll;
}

table {
  @apply table-auto border-collapse block overflow-scroll mx-auto;
}

table thead {
  @apply text-left uppercase;
}

table td,
table th {
  padding: 0.25rem;
}

table tbody tr {
  @apply border-zinc-500 border-t;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}

ul,
ol {
  @apply mt-4;

  > li > ul,
  > li > ol {
    @apply ml-4 mt-0;
  }
}

nav ul {
  @apply list-none;
}

pre > code {
  @apply text-sm overflow-scroll;
  display: grid;
  counter-reset: line;

  > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }

  &[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 2rem;
  }

  &[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 3rem;
  }
}

summary {
  @apply cursor-pointer;
}
