on:
  push:
    branches:
      - main

env:
  PNPM_VERSION: "9.2.0"
  NODE_VERSION: "20.14.0"
  SITE_URL: https://zifeo.com

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
      - uses: pnpm/action-setup@v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
          run_install: false
      - run: |
          pnpm install --frozen-lockfile
          pnpm build
      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: out
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          cname: zifeo.com
